CREATE DATABASE [Coffee]
GO
USE [Coffee]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 01/12/2016 9:48:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[MaBan] [nvarchar](20) NOT NULL,
	[TenBan] [nvarchar](max) NULL,
	[MaKV] [nvarchar](20) NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_Ban] PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 01/12/2016 9:48:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[MaCa] [nvarchar](20) NOT NULL,
	[TenCa] [nvarchar](max) NULL,
	[GioBatDau] [time](7) NULL,
	[GioKetThuc] [time](7) NULL,
	[MucLuong] [float] NULL,
 CONSTRAINT [PK_CaLamViec] PRIMARY KEY CLUSTERED 
(
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 01/12/2016 9:48:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[ID] [date] NOT NULL,
	[MaNV] [nvarchar](20) NOT NULL,
	[MaCa] [nvarchar](20) NOT NULL,
	[MaKV] [nvarchar](20) NOT NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_ChamCong] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[MaNV] ASC,
	[MaCa] ASC,
	[MaKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 01/12/2016 9:48:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [nvarchar](20) NOT NULL,
	[MaMon] [nvarchar](20) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 01/12/2016 9:48:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](20) NOT NULL,
	[MaBan] [nvarchar](20) NULL,
	[MaNV] [nvarchar](20) NULL,
	[NgayLapHD] [datetime] NULL,
	[PhuThu] [float] NULL,
	[VAT] [float] NULL,
	[DaThanhToan] [bit] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 01/12/2016 9:48:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[MaKV] [nvarchar](20) NOT NULL,
	[TenKV] [nvarchar](max) NULL,
 CONSTRAINT [PK_KhuVuc] PRIMARY KEY CLUSTERED 
(
	[MaKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LichSuHoatDong]    Script Date: 01/12/2016 9:48:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuHoatDong](
	[MaLichSu] [nvarchar](20) NOT NULL,
	[MaNV] [nvarchar](20) NULL,
	[HoTen] [nvarchar](max) NULL,
	[HoatDong] [nvarchar](max) NULL,
	[ThoiGian] [datetime] NULL,
	[TinhTrang] [nvarchar](max) NULL,
 CONSTRAINT [PK_LichSuHoatDong] PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiMon]    Script Date: 01/12/2016 9:48:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiMon](
	[MaLoaiMon] [nvarchar](20) NOT NULL,
	[TenLoaiMon] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiMon] PRIMARY KEY CLUSTERED 
(
	[MaLoaiMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mon]    Script Date: 01/12/2016 9:48:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mon](
	[MaMon] [nvarchar](20) NOT NULL,
	[MaLoaiMon] [nvarchar](20) NULL,
	[TenMon] [nvarchar](max) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[GiaNhap] [float] NULL,
 CONSTRAINT [PK_Mon] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 01/12/2016 9:48:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](20) NOT NULL,
	[HoTen] [nvarchar](max) NULL,
	[NgaySinh] [date] NULL,
	[Phai] [bit] NULL,
	[CMND] [nvarchar](10) NULL,
	[SDT] [nvarchar](12) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[NgayVaoLam] [date] NULL,
	[MatKhau] [nvarchar](max) NULL,
	[Quyen] [bit] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhanCong]    Script Date: 01/12/2016 9:48:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCong](
	[MaNV] [nvarchar](20) NOT NULL,
	[MaCa] [nvarchar](20) NOT NULL,
	[MaKV] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PhanCong] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[MaCa] ASC,
	[MaKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuChi]    Script Date: 01/12/2016 9:48:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuChi](
	[MaPhieuChi] [nvarchar](20) NOT NULL,
	[MaNV] [nvarchar](20) NULL,
	[MucDichChi] [nvarchar](max) NULL,
	[NgayChi] [date] NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_PhieuChi] PRIMARY KEY CLUSTERED 
(
	[MaPhieuChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTinQuan]    Script Date: 01/12/2016 9:48:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinQuan](
	[ID] [nvarchar](20) NOT NULL,
	[TenQuan] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SDT] [nvarchar](12) NULL,
	[Email] [nvarchar](50) NULL,
	[HinhAnh] [image] NULL,
 CONSTRAINT [PK_ThongTinQuan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  View [dbo].[VW_Bill]    Script Date: 01/12/2016 9:48:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[VW_Bill]
as
select CT.MaHD, M.TenMon, CT.SoLuong, CT.DonGia, (CT.SoLuong * CT.DonGia) ThanhTien, CT.GhiChu
from ChiTietHoaDon CT, (select MaMon, TenMon from Mon) M
where CT.MaMon = M.MaMon


GO
/****** Object:  View [dbo].[VW_ChamCong]    Script Date: 01/12/2016 9:48:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VW_ChamCong] as
with cc(MaNV, MaCa, MaKV, Thang, Nam, SoCaLam) as
(select MaNV, MaCa, MaKV, Thang, Nam, count(ID) SoCaLam
from ChamCong cc
where cc.TinhTrang = 1
group by MaNV, MaCa, MaKV, Thang, Nam),

cc1(MaNV, HoTen, MaCa, MaKV, Thang, Nam, SoCaLam) as
(select cc.MaNV, nv.HoTen, cc.MaCa, cc.MaKV, cc.Thang, cc.Nam, cc.SoCaLam
from cc, NhanVien nv
where cc.MaNV = nv.MaNV),

cc2(MaNV, HoTen, TenCa, MaKV, Thang, Nam, SoCaLam, Luong) as
(select cc1.MaNV, cc1.HoTen, ca.TenCa, cc1.MaKV, cc1.Thang, cc1.Nam, cc1.SoCaLam, (cc1.SoCaLam * ca.MucLuong) Luong
from cc1, CaLamViec ca
where cc1.MaCa = ca.MaCa)

select cc2.MaNV, cc2.HoTen, cc2.TenCa, kv.TenKV, cc2.Thang, cc2.Nam, cc2.SoCaLam, cc2.Luong
from cc2, KhuVuc kv
where cc2.MaKV = kv.MaKV
GO
/****** Object:  View [dbo].[VW_Mon]    Script Date: 01/12/2016 9:48:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[VW_Mon]
as
select m.MaMon, m.TenMon, CT.SoLuongDaBan, m.DonGia, m.GiaNhap, CT.DoanhThu, (CT.DoanhThu - m.GiaNhap*CT.SoLuongDaBan) TienLoi
from Mon m, (select MaMon, sum(SoLuong) SoLuongDaBan, sum(SoLuong * DonGia) DoanhThu
				from ChiTietHoaDon ct
				group by MaMon) CT
where m.MaMon = CT.MaMon


GO
/****** Object:  View [dbo].[VW_ThongKeDoanhThu]    Script Date: 01/12/2016 9:48:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[VW_ThongKeDoanhThu]
as
SELECT        HD.MaHD, HD.NgayLapHD, HD.PhuThu, HD.VAT, ((CTHD.TriGiaHD + HD.PhuThu) * (1 + HD.VAT/100)) as TriGiaHD
FROM            dbo.HoaDon AS HD INNER JOIN
                             (SELECT        MaHD, SUM(SoLuong * DonGia) AS TriGiaHD
                               FROM            dbo.ChiTietHoaDon AS ct
                               GROUP BY MaHD) AS CTHD ON HD.MaHD = CTHD.MaHD


GO
/****** Object:  View [dbo].[VW_ThongKeMonTheoNgay]    Script Date: 01/12/2016 9:48:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VW_ThongKeMonTheoNgay]
as
select CT.Ngay, CT.MaMon, m.TenMon, CT.SL, CT.DoanhThu
from Mon m, (select HD.Ngay, ct.MaMon, sum(ct.SoLuong) SL, sum(ct.SoLuong * ct.DonGia) DoanhThu
			from ChiTietHoaDon ct, (select MaHD, CONVERT(varchar, NgayLapHD, 103) Ngay from HoaDon) HD
			where ct.MaHD = HD.MaHD
			group by HD.Ngay, ct.MaMon) CT
where m.MaMon = CT.MaMon


GO
INSERT [dbo].[Ban] ([MaBan], [TenBan], [MaKV], [TinhTrang]) VALUES (N'B000001', N'Bàn 1', N'KV000001', 1)
INSERT [dbo].[Ban] ([MaBan], [TenBan], [MaKV], [TinhTrang]) VALUES (N'B000002', N'Bàn 2', N'KV000001', 1)
INSERT [dbo].[Ban] ([MaBan], [TenBan], [MaKV], [TinhTrang]) VALUES (N'B000003', N'Bàn 3', N'KV000001', 0)
INSERT [dbo].[CaLamViec] ([MaCa], [TenCa], [GioBatDau], [GioKetThuc], [MucLuong]) VALUES (N'C000001', N'Ca 1', CAST(N'06:00:00' AS Time), CAST(N'09:00:00' AS Time), 40000)
INSERT [dbo].[CaLamViec] ([MaCa], [TenCa], [GioBatDau], [GioKetThuc], [MucLuong]) VALUES (N'C000002', N'Ca 2', CAST(N'09:00:00' AS Time), CAST(N'12:00:00' AS Time), 50000)
INSERT [dbo].[CaLamViec] ([MaCa], [TenCa], [GioBatDau], [GioKetThuc], [MucLuong]) VALUES (N'C000003', N'Ca 3', CAST(N'12:00:00' AS Time), CAST(N'15:00:00' AS Time), 60000)
INSERT [dbo].[ChamCong] ([ID], [MaNV], [MaCa], [MaKV], [Thang], [Nam], [TinhTrang]) VALUES (CAST(N'2016-11-29' AS Date), N'NV000001', N'C000001', N'KV000001', 11, 2016, 1)
INSERT [dbo].[ChamCong] ([ID], [MaNV], [MaCa], [MaKV], [Thang], [Nam], [TinhTrang]) VALUES (CAST(N'2016-11-29' AS Date), N'NV000001', N'C000002', N'KV000001', 11, 2016, 0)
INSERT [dbo].[ChamCong] ([ID], [MaNV], [MaCa], [MaKV], [Thang], [Nam], [TinhTrang]) VALUES (CAST(N'2016-11-29' AS Date), N'NV000001', N'C000005', N'KV000001', 11, 2016, 0)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaMon], [SoLuong], [DonGia], [GhiChu]) VALUES (N'HD000001', N'M000001', 2, 15000, N'')
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaMon], [SoLuong], [DonGia], [GhiChu]) VALUES (N'HD000001', N'M000002', 1, 20000, N'')
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaMon], [SoLuong], [DonGia], [GhiChu]) VALUES (N'HD000003', N'M000006', 1, 30000, N'')
INSERT [dbo].[HoaDon] ([MaHD], [MaBan], [MaNV], [NgayLapHD], [PhuThu], [VAT], [DaThanhToan]) VALUES (N'HD000001', N'B000001', N'NV000001', CAST(N'2016-12-01 11:49:59.463' AS DateTime), 0, 5, 1)
INSERT [dbo].[HoaDon] ([MaHD], [MaBan], [MaNV], [NgayLapHD], [PhuThu], [VAT], [DaThanhToan]) VALUES (N'HD000003', N'B000003', N'NV000001', CAST(N'2016-12-01 11:58:16.983' AS DateTime), 0, 0, 1)
INSERT [dbo].[HoaDon] ([MaHD], [MaBan], [MaNV], [NgayLapHD], [PhuThu], [VAT], [DaThanhToan]) VALUES (N'HD000004', NULL, N'NV000001', CAST(N'2016-12-01 20:47:02.550' AS DateTime), 0, 5, 1)
INSERT [dbo].[KhuVuc] ([MaKV], [TenKV]) VALUES (N'KV000001', N'Khu A')
INSERT [dbo].[KhuVuc] ([MaKV], [TenKV]) VALUES (N'KV000002', N'Khu B')
INSERT [dbo].[KhuVuc] ([MaKV], [TenKV]) VALUES (N'KV000003', N'Khu C')
INSERT [dbo].[LoaiMon] ([MaLoaiMon], [TenLoaiMon]) VALUES (N'LM000001', N'Cà phê')
INSERT [dbo].[LoaiMon] ([MaLoaiMon], [TenLoaiMon]) VALUES (N'LM000002', N'Trà sữa')
INSERT [dbo].[LoaiMon] ([MaLoaiMon], [TenLoaiMon]) VALUES (N'LM000003', N'Sinh tố')
INSERT [dbo].[Mon] ([MaMon], [MaLoaiMon], [TenMon], [SoLuong], [DonGia], [GiaNhap]) VALUES (N'M000001', N'LM000001', N'Cafe Đen', 10, 15000, 14000)
INSERT [dbo].[Mon] ([MaMon], [MaLoaiMon], [TenMon], [SoLuong], [DonGia], [GiaNhap]) VALUES (N'M000002', N'LM000001', N'Cafe Phin', 9, 20000, 19000)
INSERT [dbo].[Mon] ([MaMon], [MaLoaiMon], [TenMon], [SoLuong], [DonGia], [GiaNhap]) VALUES (N'M000003', N'LM000001', N'Cafe Trung Nguyên', 8, 20000, 19000)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [Phai], [CMND], [SDT], [DiaChi], [NgayVaoLam], [MatKhau], [Quyen], [Status]) VALUES (N'Admin', N'Administrator', CAST(N'2016-01-01' AS Date), 1, N'', N'', N'', CAST(N'2016-01-01' AS Date), N'Admin', 1, 1)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [Phai], [CMND], [SDT], [DiaChi], [NgayVaoLam], [MatKhau], [Quyen], [Status]) VALUES (N'NV000001', N'Nguyễn Đức Ngưu', CAST(N'1996-12-15' AS Date), 1, N'241587635', N'0969741193', N'Thủ Đức', CAST(N'2016-01-01' AS Date), N'1', 1, 0)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [Phai], [CMND], [SDT], [DiaChi], [NgayVaoLam], [MatKhau], [Quyen], [Status]) VALUES (N'NV000002', N'Đỗ Ngọc Châu', CAST(N'1997-12-15' AS Date), 0, N'241587634', N'0969741194', N'Thủ Đức', CAST(N'2016-01-01' AS Date), N'2', 0, 0)
INSERT [dbo].[PhanCong] ([MaNV], [MaCa], [MaKV]) VALUES (N'NV000001', N'C000001', N'KV000001')
INSERT [dbo].[PhanCong] ([MaNV], [MaCa], [MaKV]) VALUES (N'NV000001', N'C000002', N'KV000001')
INSERT [dbo].[PhanCong] ([MaNV], [MaCa], [MaKV]) VALUES (N'NV000001', N'C000005', N'KV000001')
INSERT [dbo].[PhieuChi] ([MaPhieuChi], [MaNV], [MucDichChi], [NgayChi], [TongTien]) VALUES (N'PC000001', N'NV000001', N'Nhập hàng', CAST(N'2016-12-01' AS Date), 1000000)
INSERT [dbo].[PhieuChi] ([MaPhieuChi], [MaNV], [MucDichChi], [NgayChi], [TongTien]) VALUES (N'PC000002', N'NV000002', N'Nhập hàng', CAST(N'2016-12-01' AS Date), 500000)
ALTER TABLE [dbo].[Ban]  WITH CHECK ADD  CONSTRAINT [FK_Ban_KhuVuc] FOREIGN KEY([MaKV])
REFERENCES [dbo].[KhuVuc] ([MaKV])
GO
ALTER TABLE [dbo].[Ban] CHECK CONSTRAINT [FK_Ban_KhuVuc]
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_PhanCong] FOREIGN KEY([MaNV], [MaCa], [MaKV])
REFERENCES [dbo].[PhanCong] ([MaNV], [MaCa], [MaKV])
GO
ALTER TABLE [dbo].[ChamCong] CHECK CONSTRAINT [FK_ChamCong_PhanCong]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_Mon] FOREIGN KEY([MaMon])
REFERENCES [dbo].[Mon] ([MaMon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_Mon]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Ban] FOREIGN KEY([MaBan])
REFERENCES [dbo].[Ban] ([MaBan])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Ban]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[Mon]  WITH CHECK ADD  CONSTRAINT [FK_Mon_LoaiMon] FOREIGN KEY([MaLoaiMon])
REFERENCES [dbo].[LoaiMon] ([MaLoaiMon])
GO
ALTER TABLE [dbo].[Mon] CHECK CONSTRAINT [FK_Mon_LoaiMon]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_CaLamViec] FOREIGN KEY([MaCa])
REFERENCES [dbo].[CaLamViec] ([MaCa])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_CaLamViec]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_KhuVuc] FOREIGN KEY([MaKV])
REFERENCES [dbo].[KhuVuc] ([MaKV])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_KhuVuc]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_NhanVien]
GO
ALTER TABLE [dbo].[PhieuChi]  WITH CHECK ADD  CONSTRAINT [FK_PhieuChi_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuChi] CHECK CONSTRAINT [FK_PhieuChi_NhanVien]
GO
