CREATE DATABASE [Coffee]
GO
USE [Coffee]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 25/07/2016 8:50:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[MaBan] [nvarchar](20) NOT NULL,
	[MaKV] [nvarchar](20) NULL,
	[TenBan] [nvarchar](max) NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_Ban] PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 25/07/2016 8:50:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[MaCa] [nvarchar](20) NOT NULL,
	[TenCa] [nvarchar](max) NULL,
	[GioBatDau] [time](7) NULL,
	[GioKetThuc] [time](7) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_CaLamViec] PRIMARY KEY CLUSTERED 
(
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 25/07/2016 8:50:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[ID] [date] NOT NULL,
	[MaNV] [nvarchar](20) NOT NULL,
	[MaCa] [nvarchar](20) NOT NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_ChamCong] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[MaNV] ASC,
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 25/07/2016 8:50:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [nvarchar](20) NOT NULL,
	[MaMon] [nvarchar](20) NOT NULL,
	[DonGia] [float] NULL,
	[SoLuong] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_ChiTietHoaDons] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 25/07/2016 8:50:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](20) NOT NULL,
	[MaBan] [nvarchar](20) NULL,
	[MaNV] [nvarchar](20) NULL,
	[NgayLapHD] [datetime] NULL,
	[PhuThu] [float] NULL,
	[VAT] [float] NULL,
	[DaThanhToan] [bit] NULL,
 CONSTRAINT [PK_HoaDons] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 25/07/2016 8:50:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[MaKV] [nvarchar](20) NOT NULL,
	[TenKV] [nvarchar](max) NULL,
 CONSTRAINT [PK_KhuVuc] PRIMARY KEY CLUSTERED 
(
	[MaKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LichSuHoatDong]    Script Date: 25/07/2016 8:50:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuHoatDong](
	[MaLichSu] [nvarchar](20) NOT NULL,
	[MaNV] [nvarchar](20) NULL,
	[HoTen] [nvarchar](max) NULL,
	[HoatDong] [nvarchar](max) NULL,
	[ThoiGian] [datetime] NULL,
	[TinhTrang] [nvarchar](max) NULL,
 CONSTRAINT [PK_LichSuHoatDong] PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiMon]    Script Date: 25/07/2016 8:50:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiMon](
	[MaLoaiMon] [nvarchar](20) NOT NULL,
	[TenLoaiMon] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiMon] PRIMARY KEY CLUSTERED 
(
	[MaLoaiMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mon]    Script Date: 25/07/2016 8:50:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mon](
	[MaMon] [nvarchar](20) NOT NULL,
	[MaLoaiMon] [nvarchar](20) NULL,
	[TenMon] [nvarchar](max) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[GiaNhap] [float] NULL,
	[HinhAnh] [image] NULL,
 CONSTRAINT [PK_Mon] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 25/07/2016 8:50:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](20) NOT NULL,
	[HoTen] [nvarchar](max) NULL,
	[NgaySinh] [date] NULL,
	[Phai] [bit] NULL,
	[CMND] [nvarchar](20) NULL,
	[SDT] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[NgayVaoLam] [date] NULL,
	[Luong] [float] NULL,
	[MatKhau] [nvarchar](max) NULL,
	[Quyen] [bit] NULL,
	[HinhAnh] [image] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_NhaVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhanCong]    Script Date: 25/07/2016 8:50:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCong](
	[MaNV] [nvarchar](20) NOT NULL,
	[MaCa] [nvarchar](20) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuChi]    Script Date: 25/07/2016 8:50:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuChi](
	[MaPhieuChi] [nvarchar](20) NOT NULL,
	[MaNV] [nvarchar](20) NULL,
	[MucDichChi] [nvarchar](max) NULL,
	[NgayChi] [datetime] NULL,
	[TongTien] [float] NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_PhieuChi] PRIMARY KEY CLUSTERED 
(
	[MaPhieuChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTinQuan]    Script Date: 25/07/2016 8:50:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinQuan](
	[ID] [nvarchar](20) NOT NULL,
	[TenQuan] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SDT] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[HinhAnh] [image] NULL,
 CONSTRAINT [PK_ThongTinQuan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  View [dbo].[VW_Bill]    Script Date: 25/07/2016 8:50:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[VW_Bill]
as
select CT.MaHD, M.TenMon, CT.SoLuong, CT.DonGia, (CT.SoLuong * CT.DonGia) ThanhTien, CT.GhiChu
from ChiTietHoaDon CT, (select MaMon, TenMon from Mon) M
where CT.MaMon = M.MaMon
GO
/****** Object:  View [dbo].[VW_ChamCong]    Script Date: 25/07/2016 8:50:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VW_ChamCong]
as
with cc0(MaNV, Thang, Nam, SoBuoiLam) as (select MaNV, Thang, Nam, count(ID) SoBuoiLam from ChamCong where TinhTrang = 1 group by MaNV, Thang, Nam),
	 cc1(MaNV, TongSoBuoi) as(select MaNV, count(ID) TongSoBuoi from ChamCong group by MaNV)
select cc.MaNV, nv.HoTen, cc.SoBuoiLam, cc.SoBuoiNghi, nv.Luong, cc.Thang, cc.Nam
from NhanVien nv, (select cc0.MaNV, cc0.Thang, cc0.Nam, cc0.SoBuoiLam, (cc1.TongSoBuoi - cc0.SoBuoiLam) SoBuoiNghi
					from cc0, cc1
					where cc0.MaNV = cc1.MaNV) cc
where nv.MaNV = cc.MaNV
GO
/****** Object:  View [dbo].[VW_Mon]    Script Date: 25/07/2016 8:50:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[VW_Mon]
as
select m.MaMon, m.TenMon, CT.SoLuongDaBan, m.DonGia, m.GiaNhap, CT.DoanhThu, (CT.DoanhThu - m.GiaNhap*CT.SoLuongDaBan) TienLoi
from Mon m, (select MaMon, sum(SoLuong) SoLuongDaBan, sum(SoLuong * DonGia) DoanhThu
				from ChiTietHoaDon ct
				group by MaMon) CT
where m.MaMon = CT.MaMon
GO
/****** Object:  View [dbo].[VW_ThongKeDoanhThu]    Script Date: 25/07/2016 8:50:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[VW_ThongKeDoanhThu]
as
SELECT        HD.MaHD, HD.NgayLapHD, HD.PhuThu, HD.VAT, ((CTHD.TriGiaHD + HD.PhuThu) * (1 + HD.VAT/100)) as TriGiaHD
FROM            dbo.HoaDon AS HD INNER JOIN
                             (SELECT        MaHD, SUM(SoLuong * DonGia) AS TriGiaHD
                               FROM            dbo.ChiTietHoaDon AS ct
                               GROUP BY MaHD) AS CTHD ON HD.MaHD = CTHD.MaHD
GO
/****** Object:  View [dbo].[VW_ThongKeMonTheoNgay]    Script Date: 25/07/2016 8:50:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VW_ThongKeMonTheoNgay]
as
select CT.Ngay, CT.MaMon, m.TenMon, CT.SL, CT.DoanhThu
from Mon m, (select HD.Ngay, ct.MaMon, sum(ct.SoLuong) SL, sum(ct.SoLuong * ct.DonGia) DoanhThu
			from ChiTietHoaDon ct, (select MaHD, CONVERT(varchar, NgayLapHD, 103) Ngay from HoaDon) HD
			where ct.MaHD = HD.MaHD
			group by HD.Ngay, ct.MaMon) CT
where m.MaMon = CT.MaMon
GO
INSERT [dbo].[Ban] ([MaBan], [MaKV], [TenBan], [TinhTrang]) VALUES (N'B000001', N'KV000001', N'Bàn 1', 0)
INSERT [dbo].[Ban] ([MaBan], [MaKV], [TenBan], [TinhTrang]) VALUES (N'B000002', N'KV000001', N'Bàn 2', 0)
INSERT [dbo].[Ban] ([MaBan], [MaKV], [TenBan], [TinhTrang]) VALUES (N'B000003', N'KV000001', N'Bàn 3', 0)
INSERT [dbo].[CaLamViec] ([MaCa], [TenCa], [GioBatDau], [GioKetThuc], [GhiChu]) VALUES (N'C000001', N'Ca 1', CAST(0x0700709A4A320000 AS Time), CAST(0x0700A8E76F4B0000 AS Time), N'')
INSERT [dbo].[CaLamViec] ([MaCa], [TenCa], [GioBatDau], [GioKetThuc], [GhiChu]) VALUES (N'C000002', N'Ca 2', CAST(0x0700A8E76F4B0000 AS Time), CAST(0x0700E03495640000 AS Time), NULL)
INSERT [dbo].[CaLamViec] ([MaCa], [TenCa], [GioBatDau], [GioKetThuc], [GhiChu]) VALUES (N'C000003', N'Ca 3', CAST(0x0700E03495640000 AS Time), CAST(0x07001882BA7D0000 AS Time), NULL)
INSERT [dbo].[ChamCong] ([ID], [MaNV], [MaCa], [Thang], [Nam], [TinhTrang]) VALUES (CAST(0x9E3B0B00 AS Date), N'NV000001', N'C000001', 7, 2016, 0)
INSERT [dbo].[ChamCong] ([ID], [MaNV], [MaCa], [Thang], [Nam], [TinhTrang]) VALUES (CAST(0x9E3B0B00 AS Date), N'NV000001', N'C000002', 7, 2016, 1)
INSERT [dbo].[ChamCong] ([ID], [MaNV], [MaCa], [Thang], [Nam], [TinhTrang]) VALUES (CAST(0x9E3B0B00 AS Date), N'NV000001', N'C000005', 7, 2016, 0)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaMon], [DonGia], [SoLuong], [GhiChu]) VALUES (N'HD000001', N'M000001', 15000, 2, N'')
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaMon], [DonGia], [SoLuong], [GhiChu]) VALUES (N'HD000001', N'M000002', 20000, 1, N'')
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaMon], [DonGia], [SoLuong], [GhiChu]) VALUES (N'HD000003', N'M000006', 30000, 1, N'')
INSERT [dbo].[HoaDon] ([MaHD], [MaBan], [MaNV], [NgayLapHD], [PhuThu], [VAT], [DaThanhToan]) VALUES (N'HD000001', N'B000001', N'NV000001', CAST(0x0000A63900C3013F AS DateTime), 0, 5, 1)
INSERT [dbo].[HoaDon] ([MaHD], [MaBan], [MaNV], [NgayLapHD], [PhuThu], [VAT], [DaThanhToan]) VALUES (N'HD000003', N'B000003', N'NV000001', CAST(0x0000A63900C54847 AS DateTime), 0, 0, 1)
INSERT [dbo].[HoaDon] ([MaHD], [MaBan], [MaNV], [NgayLapHD], [PhuThu], [VAT], [DaThanhToan]) VALUES (N'HD000004', NULL, N'NV000001', CAST(0x0000A639015682AD AS DateTime), 0, 5, 1)
INSERT [dbo].[KhuVuc] ([MaKV], [TenKV]) VALUES (N'KV000001', N'Khu A')
INSERT [dbo].[KhuVuc] ([MaKV], [TenKV]) VALUES (N'KV000002', N'Khu B')
INSERT [dbo].[KhuVuc] ([MaKV], [TenKV]) VALUES (N'KV000003', N'Khu C')
INSERT [dbo].[LichSuHoatDong] ([MaLichSu], [MaNV], [HoTen], [HoatDong], [ThoiGian], [TinhTrang]) VALUES (N'LS0000000003', N'Admin', N'Administrator', N'Thêm hóa đơn (HD000015)', CAST(0x0000A646013DF330 AS DateTime), N'Thành công')
INSERT [dbo].[LichSuHoatDong] ([MaLichSu], [MaNV], [HoTen], [HoatDong], [ThoiGian], [TinhTrang]) VALUES (N'LS0000000004', N'Admin', N'Administrator', N'Cập nhật hóa đơn (HD000014)', CAST(0x0000A646013E07A4 AS DateTime), N'Thành công')
INSERT [dbo].[LichSuHoatDong] ([MaLichSu], [MaNV], [HoTen], [HoatDong], [ThoiGian], [TinhTrang]) VALUES (N'LS0000000005', N'Admin', N'Administrator', N'Cập nhật hóa đơn (HD000015)', CAST(0x0000A646013E26EA AS DateTime), N'Thành công')
INSERT [dbo].[LoaiMon] ([MaLoaiMon], [TenLoaiMon]) VALUES (N'LM000001', N'Cà phê')
INSERT [dbo].[LoaiMon] ([MaLoaiMon], [TenLoaiMon]) VALUES (N'LM000002', N'Trà sữa')
INSERT [dbo].[LoaiMon] ([MaLoaiMon], [TenLoaiMon]) VALUES (N'LM000003', N'Sinh tố')
INSERT [dbo].[Mon] ([MaMon], [MaLoaiMon], [TenMon], [SoLuong], [DonGia], [GiaNhap], [HinhAnh]) VALUES (N'M000001', N'LM000001', N'Cafe Đen', 10, 15000, 14000, NULL)
INSERT [dbo].[Mon] ([MaMon], [MaLoaiMon], [TenMon], [SoLuong], [DonGia], [GiaNhap], [HinhAnh]) VALUES (N'M000002', N'LM000001', N'Cafe Phin', 9, 20000, 19000, NULL)
INSERT [dbo].[Mon] ([MaMon], [MaLoaiMon], [TenMon], [SoLuong], [DonGia], [GiaNhap], [HinhAnh]) VALUES (N'M000003', N'LM000001', N'Cafe Trung Nguyên', 8, 20000, 19000, NULL)
INSERT [dbo].[PhanCong] ([MaNV], [MaCa], [GhiChu]) VALUES (N'NV000001', N'C000001', NULL)
INSERT [dbo].[PhanCong] ([MaNV], [MaCa], [GhiChu]) VALUES (N'NV000001', N'C000002', NULL)
INSERT [dbo].[PhanCong] ([MaNV], [MaCa], [GhiChu]) VALUES (N'NV000001', N'C000005', N'')
INSERT [dbo].[PhieuChi] ([MaPhieuChi], [MaNV], [MucDichChi], [NgayChi], [TongTien], [GhiChu]) VALUES (N'PC000001', N'NV000001', N'Nhập hàng', CAST(0x0000A63C00000000 AS DateTime), 1000000, N'abc')
INSERT [dbo].[PhieuChi] ([MaPhieuChi], [MaNV], [MucDichChi], [NgayChi], [TongTien], [GhiChu]) VALUES (N'PC000002', N'NV000002', N'Nhập hàng', CAST(0x0000A63E012339A9 AS DateTime), 500000, N'')
ALTER TABLE [dbo].[Ban]  WITH CHECK ADD  CONSTRAINT [FK_Bans_KhuVucs] FOREIGN KEY([MaKV])
REFERENCES [dbo].[KhuVuc] ([MaKV])
GO
ALTER TABLE [dbo].[Ban] CHECK CONSTRAINT [FK_Bans_KhuVucs]
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_PhanCong] FOREIGN KEY([MaNV], [MaCa])
REFERENCES [dbo].[PhanCong] ([MaNV], [MaCa])
GO
ALTER TABLE [dbo].[ChamCong] CHECK CONSTRAINT [FK_ChamCong_PhanCong]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDons_HoaDons] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDons_HoaDons]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDons_Mons] FOREIGN KEY([MaMon])
REFERENCES [dbo].[Mon] ([MaMon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDons_Mons]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDons_Bans] FOREIGN KEY([MaBan])
REFERENCES [dbo].[Ban] ([MaBan])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDons_Bans]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDons_NhaViens] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDons_NhaViens]
GO
ALTER TABLE [dbo].[Mon]  WITH CHECK ADD  CONSTRAINT [FK_Mons_LoaiMons] FOREIGN KEY([MaLoaiMon])
REFERENCES [dbo].[LoaiMon] ([MaLoaiMon])
GO
ALTER TABLE [dbo].[Mon] CHECK CONSTRAINT [FK_Mons_LoaiMons]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_CaLamViec] FOREIGN KEY([MaCa])
REFERENCES [dbo].[CaLamViec] ([MaCa])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_CaLamViec]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_NhanVien]
GO
ALTER TABLE [dbo].[PhieuChi]  WITH CHECK ADD  CONSTRAINT [FK_PhieuChi_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuChi] CHECK CONSTRAINT [FK_PhieuChi_NhanVien]
GO
